<div class="chart_section">
    <div class="recent_chart_section">
        <div class="search">
            <form action="#" method="post">
                <input type="search" name="searchcont" id="searchcont" placeholder="Enter search item">
                <div class="recent_chats">
                    <h3>Recent Chats</h3>
                </div>
            </form>
        </div>
    </div>
    <div class="charts">
        <div class="current_chat">
            <h3>USERNAME</h3>
        </div>
        <div class="text_here"></div>
        <div class="send_section">
            <form action="#" method="post">
                <input type="text" name="textmessage" id="textmessage" placeholder="Type message here">
               <button><img src="../../assets/send.png" height="37px" width="40px" alt=""></button>
            </form>
        </div>
    </div>
   <div class="contact_lists">
       <h3>Contact List</h3>
   </div>
</div>
