<div class="chart_section">
    <div class="recent_chart_section">
        <div class="search">
            <form action="#" method="post">
                <input type="search" name="searchcont" id="searchcont" placeholder="Enter search item">
                <div class="recent_chats">
                    <h3>Recent Chats</h3>
                    <div class="firstchat">
                        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
                        <div class="flexnames">
                            <div class="name">Name: Test1</div>
                            <div class="latestchat">Hey there</div>
                        </div>
                    </div>
                    <div class="firstchat">
                        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
                        <div class="flexnames">
                            <div class="name">Name: Test2</div>
                            <div class="latestchat">Where are you</div>
                        </div>
                    </div>
                    <div class="firstchat">
                        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
                        <div class="flexnames">
                            <div class="name">Name: Test3</div>
                            <div class="latestchat">can i see you</div>
                        </div>
                    </div>
                    <div class="firstchat">
                        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
                        <div class="flexnames">
                            <div class="name">Name: Test3</div>
                            <div class="latestchat">Hey there how are you</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="charts">
        <div class="current_chat">
            <h3>USERNAME</h3>
           
        </div>
        <div class="text_here"></div>
        <div class="send_section">
            <form action="#" method="post">
                <input type="text" name="textmessage" id="textmessage" placeholder="Type message here">
               <button><img src="../../assets/send.png" height="35px" width="35px" alt=""></button>
            </form>
        </div>
    </div>
   <div class="contact_lists">
       <h3>Contact List</h3>
       <div class="firstchat">
        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
        <div class="flexnames">
            <div class="name">Name: Test1</div>
            <div class="latestchat">contact: 07913244334</div>
        </div>
    </div>
    <div class="firstchat">
        <div class="userimage"><img src="../../assets/user.png" height="40px" width="40px" alt=""></div>
        <div class="flexnames">
            <div class="name">Name: Test1</div>
            <div class="latestchat">Contact: 07234549876</div>
        </div>
    </div>
   </div>
</div>
