<div class="charthomepage">
    <div class="text_section">
        <h1>Welcome to reliable chat App, <br> Keep intouch with friends <br> and relatives.</h1>
        <p>Free , Fast & Reliable</p>
    </div>
    <div class="image_section">
        <div class="image">
            <div class="image_right">
                <img src="../../assets/male.png" alt="" width="200px" height="200px">
            </div>
            <div class="texts">
                <div class="chart">Hey there how are you!!!</div>
            </div>
        </div>
        <div class="image">
            <div class="texts">
                <div  id="chart">Hey there am good !!!</div>
            </div>
            <div class="image_right">
                <img src="../../assets/female.png" alt="" width="200px" height="200px">
            </div>
        </div>
    </div>
</div>
<div class="about_section">
    <h1>About</h1>
    <div class="about">
        This is a chat application that allows you to connect with friends and relatives, 
        we patner with  different companiest to ensure you security and also your comfort using the app, 
        We have an available support team whenever there is a question or need to know something.
         We always have weekly updates and a comment section that helps us serves you better, we work with 
         clients idears and we encourage our users to keep us updated on what they want included in the app.
         our developers are always available to implement goog idears.
    </div>
</div>
<div class="what_customers_says">
    <h1>What Our clients Says</h1>
    <div class="flex_cards">
        <div class="cards">
            <div class="images">
                <img src="../../assets/feedback1.png" width="100%" height="140px" alt="">
            </div>
            <div class="statements">
                This app is nice i started using it when i saw my friend using is.
            </div>
        </div>
        <div class="cards">
            <div class="images">
                <img src="../../assets/feedback2.png" width="100%" height="140px" alt="">
            </div>
            <div class="statements">
                The fact that you use clients idears has made this app better.
            </div>
        </div>
        <div class="cards">
            <div class="images">
                <img src="../../assets/feedback3.jpeg" width="100%" height="140px" alt="">
            </div>
            <div class="statements">
                Have been using this app for a while and i would rate it a 5 star.
            </div>
        </div>
    </div>
</div>
<div class="feedback_sections">
    <h1>Leave a Feedback</h1>
    <div class="feedback_form">
        <form action="#" method="post">
            <textarea name="feedbacks" id="feedbacks" cols="30" rows="10" placeholder="Type your feedback here"></textarea>
            <br>
            <input type="submit" value="Send Feedbck" id="sendbutton">
        </form>
    </div>
</div>
<div class="footer">
    <div class="contacts">
        <ul>
            <li>chatapp@gmail.com</li>
            <li>+254733203535</li>
            <li>lorem plaza 2<sup>nd</sup> Floor</li>
        </ul>
    </div>
    <div class="terms">
        <div class="termsandcondition">
            &COPY; 2022 | allright-reserved | patners |feedback | usersupport
        </div>
    </div>
</div>