<div class="frequently_asked_question">
    <h1>Frequently Asked Question</h1>
    <div class="question_form">
        <div class="parag">Dint find an answer? you can ask your question and our support team will be there to reply to you.</div>
        <form action="#" method="post">
            <input type="text" name="question" id="question" placeholder="Enter question">
            <input type="submit" value="Submit" id="submitbths">
        </form>
    </div>
    <div class="questions">
        <div class="questionp"> 1). What is chatapp?</div>
        <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, enim</div>
    </div>
    <div class="questions">
        <div class="questionp">2). Who owns chatapp?</div>
        <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, enim</div>
    </div>
    <div class="questions">
        <div class="questionp">3). Who are our patners?</div>
        <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, enim</div>
    </div>
    <div class="questions">
        <div class="questionp">4). What is chatapp?</div>
        <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, enim</div>
    </div>
    <div class="questions">
        <div class="questionp">5).What is chatapp?</div>
        <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, enim</div>
    </div>
</div>
<div class="footer">
    <div class="contacts">
        <ul>
            <li>chatapp@gmail.com</li>
            <li>+254733203535</li>
            <li>lorem plaza 2<sup>nd</sup> Floor</li>
        </ul>
    </div>
    <div class="terms">
        <div class="termsandcondition">
            &COPY; 2022 | allright-reserved | patners |feedback | usersupport
        </div>
    </div>
</div>